[submodule "lisp/emacs-neotree"]
	path = lisp/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
	branch = dev
[submodule "repo-grep"]
	path = repo-grep
	url = https://github.com/BHFock/repo-grep.git
	branch = main